<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary"  style="background-color: #ffffe0;">
    <div class="container-fluid">
      <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="/">
            <%= link_to root_path do %>LOGO
            <%#= image_tag "logo.png", size:'200x80'%>
            <% end %>
            </a>
        </div>
      </nav>
      <div class ="d-flex flex-column">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
    </div>
  </nav>
</header>